absl-py
accelerate==1.2.1
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
attrs
build
certifi
chardet
charset-normalizer
click
colorama
DataProperty
datasets==2.14.7
dill
docker-pycreds
einops
evaluate==0.4.3
filelock
frozenlist
fsspec
gitdb
GitPython
huggingface-hub==0.27.0
idna
Jinja2
joblib
jsonlines
lm_eval @ git+https://github.com/EleutherAI/lm-evaluation-harness.git@9b0b15b1ccace3534ffbd13298c569869ce8eaf3
lxml==5.3.0
MarkupSafe
mbstrdecoder
metrics==0.3.3
ml_collections==1.0.0
mlx==0.18.0
mlx-lm==0.0.3
mpmath
multidict
multiprocess
networkx
nltk
numexpr
numpy==1.26.4
packaging
pandas==2.2.3
pathlib2
pathspec
pathvalidate
peft==0.10.0
pip-tools
platformdirs
portalocker
propcache
protobuf
psutil
pyarrow
pyarrow-hotfix
pybind11
pydantic
pydantic_core
Pygments
pyproject_hooks
pytablewriter
python-dateutil
pytz
PyYAML==6.0.2
regex
requests
rouge-score
sacrebleu
safetensors
scikit-learn
scipy
sentencepiece
sentry-sdk
setproctitle
six
smmap
sqlitedict
style
sympy
tabledata
tabulate
tcolorpy
threadpoolctl
tokenizers==0.19.1
torch==2.5.1
tqdm==4.67.1
tqdm-multiprocess==0.0.11
transformers==4.41.0
triton==3.1.0
typepy
typing_extensions==4.12.2
tzdata
update
urllib3
wandb==0.19.1
xxhash
yarl
zstandard
